<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>treks</title>
</head>
<body>
    <header>
        <hr style="margin-top: 1cm;">
        <nav style="display: flex; justify-content: flex-end; gap: 20px;"> 
            <a href="/admin_dashboard">Dashboard</a>|
            <a href="/admin_dashboard/user_list">User list</a>|
            <a href="/admin_dashboard/staff_list">Manage Staff </a>|
            <a href="/admin_dashboard/manage_trek">Manage trek</a>|
            <a href="/admin_dashboard/booking_history"> Booking Records</a>
            <a href="/logout">Logout</a>
        </nav>
        <hr>
    </header>
    <main>
        <div>
            {% if added %}
                <p style="color: green;">{{trek_name}} from {{start_location}} to {{end_location}} is added </p>
            {%elif not added %}
                <form action="/admin_dashboard/add_trek" method="post">
                    <label >Name</label>
                    <input type="text" name="name"><br>
                    <label >Maximum age </label>
                    <input type="number" name="age" ><br>
                    <label >No of slots</label>
                    <input type="number" name="slots" ><br>
                    <label >difficulty</label>
                    <select name="difficulty">
                        <option value="esay">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="difficulty">Difficulty</option>
                    </select><br>
                    <label >Start Date</label>
                    <input type="date" name="start_date"><br>
                    <label >End date</label>
                    <input type="date" name="end_date" ><br>
                    
                    <label >Starting location</label>
                    <input type="text" name="starting_location"><br>
                    <label >Ending location</label>
                    <input type="text" name="ending_location"><br>
                    <label >Asign Staff</label>
                    <select name="staff" >
                        {% for i in staff%}
                        <option value="{{i.id}}">{{i.username}}</option>
                        {%endfor%}
                    </select>
                    
                    
                    <input type="submit" value="submit">

                </form>
            {%endif%}
        </div>
    </main>
</body>
</html>