<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking History</title>
</head>
<body>
{% include "components/admin_header.html"%}
<main>
    <form action="/admin_dashboard/booking_history" method="POST">
        <input type="search" name="search" placeholder="Search by trekname" maxlength="50">
        <button type="submit">Search</button>
        <label>Filter:</label>
        <label style="margin-left:3px;">Payment</label>
        <select name="payment_status">
            <option value="None">None</option>
            <option value="All">All</option>
            <option value="pending">Pending</option>
            <option value="done">Done</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    <div>
        <h2>Booking History</h2>
        <table border="1">
            <tr>
                <th>Registration ID</th>
                <th>Username</th>
                <th>Trek Name</th>
                <th>Payment Status</th>
                <th>Completion</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.registration_id }}</td>
                <td>{{ booking.username }}</td>
                <td>{{ booking.trek_name }}</td>
                <td>{{ booking.payment_status }}</td>
                <td>{{ booking.completion }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% include "components/footer.html"%}
</body>
</html>