<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin dashboard</title>
</head>
<body>
    {% include "components/admin_header.html"%}
    <main>
    <h1 style="justify-content: center;">Welcome admin</h1>
    <div  style="justify-content: center;  display: flex; gap: 130px;">
        <div >
            <h2>Staff info</h2>
            <table border="1">
                    <th>Type</th>
                    <th>Number of persons in the type</th>
                </tr>
                <tr>
                    <td>Active staff</td>
                    <td>{{active_staff}}</td>
                </tr>
                <tr>
                    <td>Deactivated Staff</td>
                    <td>{{deactivated_staff}} </td>
                </tr>
                <tr><td>Pening Request of Staff</td>
                    <td>{{pending_staff}}</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{active_staff+deactivated_staff+pending_staff}}</td>
                </tr>
            </table>
        </div>
        <div >
            <h2>Users Info</h2>
            <table border="1">
                <tr>
                    <th>Type</th>
                    <th>No. of users in the type</th>
                </tr>
                
                <tr>
                    <td>Actived Users </td>
                    <td> {{active_user}}</td>
                </tr>
                <tr>
                    <td>Deactivated Users</td>
                    <td> {{ deactivated_user}}</td>
                </tr>
                <tr>
                    <td>Total Users</td>
                    <td>{{active_user+deactivated_user}}</td>
                </tr>
            </table>
        </div>
        <div >    
            <h2>Trek Info</h2>
            <table border="1">
                <tr>
                    <th>Trek Type</th>
                    <th>No. of that type</th>
                </tr>
                <tr>
                    <td> Upcoming Trek</td>
                    <td> {{upcoming_trek}}</td>
                </tr>
                <tr>
                    <td>Completed Trek</td>
                    <td> {{completed_trek}}</td>
                </tr>
                <tr>
                    <td>Ongoing Trek</td>
                    <td>{{ongoing_trek}}</td>
                </tr>
                <tr>
                    <td>Deleted Trek</td>
                    <td>{{deleted_trek}}</td>
                </tr>
                <tr>
                    <td>Total Trek</td>
                    <td>{{deleted_trek+ongoing_trek+completed_trek+upcoming_trek}}</td>
                </tr>
            </table>
        </div>
        <div >    
            <h2>Booking Info</h2>
            <table border="1">
                <tr>
                    <th>Booking Type</th>
                    <th>No. of that type</th>
                </tr>
                <tr>
                    <td> Booking Payment Done</td>
                    <td> {{payment_done}}</td>
                </tr>
                <tr>
                    <td> Booking Pending Payment</td>
                    <td> {{payment_pending}}</td>
                </tr>
                <tr>
                    <td>Total Bookings</td>
                    <td>{{payment_done+payment_pending}}</td>
                </tr>
            </table>
        </div>
    </div>

        </div>
    </main>
    {% include "components/footer.html"%}
</body>
</html>