<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <hr style="margin-top: 1cm;">
        <nav style="display: flex; justify-content: flex-end; gap: 20px;">
            <a href="/staff_apply"> Apply as staff</a>|
            <a href="/login">Login</a>|
            <a href="/signup">Signup</a>
        </nav>
        <hr>
    </header>
    <body>
         <h1>You Account is deactivated </h1>  
    </body>
    
</body>
</html>