<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit trek</title>
</head>
<body>
    {% include "components/admin_header.html"%}
    <main>
        <div>
            {% if edited %}
                <p style="color: green;">The trek is Edited  </p>
            {% endif%}
                <form action="/admin_dashboard/edit_trek" method="post">
                    <input type="text" hidden name="trek_id" value="{{trek_id}}">
                    <label >Name</label>
                    <input type="text" name="name" value="{{trek.name}}" required minlength="3" maxlength="50"><br>
                    <label >Maximum age </label>
                    <input type="number" name="age" value="{{trek.for_age_group}}"><br>
                    <label >No of slots</label>
                    <input type="number" name="slots" value="{{trek.no_of_slots}}" required min="{{trek.no_of_registration}}" max="500"><br>
                    <label >difficulty</label>
                    <select name="difficulty" >
                        <option {% if trek.difficulty == "easy" %} selected {%endif%} value="esay">Easy</option>
                        <option {% if trek.difficulty == "medium" %} selected {%endif%} value="medium">Medium</option>
                        <option {% if trek.difficulty == "hard" %} selected {%endif%} value="difficulty">Difficulty</option>
                    </select><br>
                    <label >Start Date</label>
                    <input type="date" name="start_date" value="{{trek.start_date}}"><br>
                    <label >End date</label>
                    <input type="date" name="end_date"  value="{{trek.end_date}}"><br>
                    <label >Starting location</label>
                    <input type="text" name="starting_location" value="{{trek.starting_location}}" required><br>
                    <label >Ending location</label>
                    <input type="text" name="ending_location" value="{{trek.ending_location}}" required><br>
                    <label >Asign Staff</label>
                    <select name="staff" required>
                        {% for i in staff%}
                        <option {% if i.id ==staff_id %} selected {%endif%} value="{{i.id}}">{{i.username}}</option>
                        {%endfor%}
                    </select>
                    <label >Description</label>
                    <input name = "description" type="text" value = "{{trek.description}}" placeholder="{{trek.description}}" maxlength="2000">                    
                    <input type="submit" value="submit">

                </form>
        </div>
    </main>
    {% include "components/footer.html"%}
</body>
</html>