<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>treking app</title>
</head>
<body>
    
    <header>
        <hr style="margin-top: 1cm;">
        <nav style="display: flex; justify-content: flex-end; gap: 20px;">
            <a href="/staff_apply"> Apply as staff</a>|
            <a href="/login">Login</a>|
            <a href="/signup">Signup</a>
        </nav>
        <hr>
    </header>
    <main style="display: flex; justify-content: center;">
        <h1>Welcome to our trekking app</h1>
    </main>
</body>
</html>