<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.name}}'s Profile</title>
    <link rel="stylesheet" href="{url_for('static',filename = style.css)}">
</head>
    {%if user.type == "user"%}{% include "components/user_header.html"%}{%else%}{% include "components/staff_header.html"%}{%endif%}
<body>
    <main class="content">
        <div style="display: flex; justify-content: center; text-align: center; border: 2px solid; border-radius: 4px; height: auto; width:auto">
            {% if updated %}
                <p style="color: green;">The Profile is Edited  </p>
            {% endif %}
                <form action="/{{user.type}}_profile" method="post">
                    <table>
                    <tr><td><label >Username</label></td> <td><input type="text"  value="{{user.username}} " readonly></td></tr>
                    <tr><td><label >Name</label></td><td><input type="text" name="name" value="{{user.name}}" required minlength="2" maxlength="100"></td></tr>
                    <tr><td><label >Email</label></td><td><input type="email"  value="{{user.email}}" readonly ></td></tr>
                    <tr><td><label >Gender</label></td><td><input type="text" value="{{user.gender}}" readonly></td></tr>
                    <tr><td><label >Date of Birth</label></td><td><input type="date" name="dob" value="{{user.dob}}" ><br></td></tr>
                    <tr><td><label >Age</label><span title="if age is wrong just press the button submit it will get updated">ℹ️</span></td><td><input type="number" value="{{user.age}}" readonly></td></tr>
                    </table>
                    <input class="btn" type="submit" value="submit">
                </form>
        </div>
    </main>
    {% include "components/footer.html"%}
</body>
</html>