<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>treks</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    {% include "components/admin_header.html"%}
    <main>
        <div style="display: flex; justify-content:flex-end"><form action="/admin_dashboard/add_trek", method="GET"><button class="btn" type="submit">Add Trek</button></form></div>
        <div  >
        <form action="/admin_dashboard/manage_trek" method="post">
            <input type="search" name="search" placeholder="Search trek by name">
            <button type="submit">Search</button>
            <label >Filter:</label>
            <label style="margin-left: 3px;"> Type</label>
            <select name="type" >
                <option value="None">None</option>
                <option value="All">All</option>
                <option value="upcoming"> Upcoming</option>
                <option value="completed">Completed</option>
                <option value="ongoing">Ongoing</option>
                <option value="deleted">Deleted</option>
                
            </select>
            <label  style="margin-left: 3px;">Difficulty</label>
            <select name="difficulty">
                <option value="None">None</option>
                <option value="All">All</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        <h2>Trek List</h2>
        <table border="1" >
            <tr>
                <th>Name</th>
                <th>Starting Date</th>
                <th>Ending Date</th>
                <th>Starting Location</th>
                <th>Ending Location</th>
                <th>Maximum age allowed</th>
                <th>Slots</th>
                <th>Status</th>
                <th>Registrations</th>
                <th>Difficulty</th>
                <th>Option</th>
            </tr>
            {% for trek in treks %}
            <tr>
                <td>{{ trek.name }}</td>
                <td>{{ trek.start_date }}</td>
                <td>{{trek.end_date}}</td>
                <td>{{ trek.starting_location }}</td>
                <td>{{trek.ending_location}}</td>
                <td>{{trek.for_age_group}}</td>
                <td>{{ trek.no_of_slots }}</td>
                <td>{{trek.trek_status}}</td>
                <td>{{ trek.no_of_registration }}</td>
                <td>{{ trek.difficulty }}</td>
                <td>
                    <form action="/admin_dashboard/edit_trek" method="GET" style="display: inline;">
                        <input type="hidden" name="trek_id" value="{{ trek.id }}">
                        <button type="submit">Edit</button>
                    </form>
                    <form action="/admin_dashboard/delete_trek" method ="POST" style="display: inline;">
                        <input type="hidden" name="trek_id" value="{{ trek.id }}">
                        <button type="submit">Delete</button>
                    </form>
                    
                </td>
            </tr>
            {% endfor %}        
        </table> 
        </div>
    </main>
    {% include "components/footer.html"%}
</body>
</html>